<li {{bind-attr class=":list-group-item active:active"}} {{action "selectUser" this}}>
    <i {{bind-attr class=":glyphicon :glyphicon-user :active-user-icon online:online:offline"}} aria-hidden="true"></i>

    {{username}}

    {{#if isLoggedUser}}(you){{/if}}

    {{#unless isLoggedUser}}
        <a class="small" {{action "removeUserFromRoster" this bubbles=false}}><i class="glyphicon active-icon glyphicon-remove-circle pull-right"></i></a>
    {{/unless}}

    <br/>
    <small class="roster-status">
        {{status}}
    </small>

    {{#if isLoggedUser}}
        {{#if controller.editingStatus}}
            <i class="glyphicon active-icon glyphicon-remove pull-right " {{action "editStatusCancel" bubbles=false}}></i>
            <i class="glyphicon active-icon glyphicon-ok pull-right margin-right-small" {{action "editStatusOk" this bubbles=false}}></i>
        {{else}}
            <i class="glyphicon active-icon glyphicon-pencil pull-right" {{action "editStatus" bubbles=false}}></i>
        {{/if}}
    {{/if}}

    {{#if badge}}<span class="badge pull-right">{{badge}}</span>{{/if}}


    {{#if isLoggedUser}}
        {{#if controller.editingStatus}}
            <div {{action bubbles=false}}>
                {{input size="14" class="form-control" value=status}}
            </div>
        {{/if}}
    {{/if}}
    {{!-- <small>({{_subscription}}) {{onlineStatus}}</small> --}}
    <div class="pull-right">
    {{#if displayAcceptDeny}}
        <a class="small" {{action "acceptSubscribeRequest" this bubbles=false}}>[accept]</a>
        <a class="small" {{action "denySubscribeRequest" this bubbles=false}}>[deny]</a>
    {{/if}}
    </div>
</li>
